body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

    font-size: 15px;
    color: #333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: rgba(98, 62, 145, 0.842) center no-repeat;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.intro_title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.header{
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 35px;
    font-weight: 750;
    color: #fff;
}

.nav {
    font-size: 15px;
    text-transform: uppercase;
}
.nav_link {
    margin: 0 25px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .3s linear;
}

.nav_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: rgb(34, 4, 90);
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .3 linear;
}

.nav_link:hover {
    color: rgb(34, 4, 90);
}

.nav_link:hover::after {
    opacity: 1;
}

.section {
    padding: 80px 0;
    background-color: rgb(253, 253, 255);
}

.section_about {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

    text-align: center;
}

.about_title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
}

.about_text {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
}

.section_contact {
    padding: 80px 0;
    background-color: blueviolet;
}

.contact_inner {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
    
}

.contact_title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin: 80px;
}

.contact_nav {
    font-size: 20px;
    text-transform: uppercase;
}

.contact_link {
    color: #fff;
    text-decoration: none;

    transition: color .3s linear;
}

.contact_link:hover {
    color: rgb(34, 4, 90);
}

.footer {
    padding-top: 10px;

    background-color: rgb(56, 54, 54);
}

.copyright {
    padding: 20px 0;
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.copyright span {
    color: rgb(190, 137, 221);
}